:root{
    --bbcolor:tomato;
}
.branches{
    padding-top: 5px;
    padding-bottom: 0px;
    background-color: tomato;
    /* border-bottom: 2px solid tomato; */
}
.branches>a{
    text-decoration: none;
    padding: 0 20px;
    color: white;
    border-right: 2px solid white;
}
.gallery, .video{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-between;
}
.gallery img, .video>div{
    padding: 5px;
    border: 1px solid rgb(46, 170, 170);
    width: 24%;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.music, .jokes{
    margin-bottom: 50px;
}
.jokes textarea{
    width: 100%;
    height: 100px;
}
.music table{
    width: 100%;
    border: 2px var(--bbcolor);
    border-collapse: collapse;
}
td,th{
    border: 1px solid var(--bbcolor);
    padding: 2px;
    text-align: center;
}
th{
    background-color: var(--bbcolor);
    color: white;
    border: 1px solid white;
}

@media(max-width:900px){
    .
}
@media(max-width:600px){
    .gallery img, .video>div{
        width: 32%;
    }
}
@media(max-width:350px){
    .gallery img, .video>div{
        width: calc(49%);
    }
}