img{
    max-width: 100%;
    display: block;
}
body{
    margin: 0px;
}
article{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
header{
    min-height: 150px;
    background-color: black;
    border-bottom: 2px solid aqua;
    color: white;
}
header nav, footer{
    display: flex;
    justify-content: flex-end;
}
header a{
    padding: 5px;
    margin: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header h1, header span{
    text-align: center;
    display: block;
    margin-bottom: 0px;
}
.logo{
    width: 80px;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    background-color: white;
    border: 2px solid aqua;
    border-radius: 50%;
}
.main{
    flex-grow: 1;
    width: 700px;
    margin: 20px auto;
}
footer{
    justify-content: space-between;
    padding: 10px 20px;
    background-color: black;
    color: white;
}
@media(min-width:1200px){
    .main{
        font-size: 18px;
    }
}
@media(max-width:900px){
    .main{
        width: 95%;
    }
}
@media(max-width:600px){
    header, header nav, footer{
        flex-wrap: wrap;
    }
}
@media(max-width:350px){
    header span{
        display: none;
        margin-bottom: 50px;
    }
    header, header nav, footer{
        justify-content: center;
    }
    
}
